<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>[Template] Sample Inner Page</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Amatic+SC:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Yummy
  * Template URL: https://bootstrapmade.com/yummy-bootstrap-restaurant-website-template/
  * Updated: Mar 17 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center me-auto me-lg-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>Yummy<span>.</span></h1>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="#hero">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#menu">Recipes</a></li>
          <li><a href="#events">Tips</a></li>
          
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav><!-- .navbar -->

    
    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Breakfast</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Sample Inner Page</li>
          </ol>
        </div>

      </div>
    </div><!-- End Breadcrumbs -->

    <section class="sample-page">
      <div class="container" data-aos="fade-up">

    
     <pre>1.  Prep the ingredients first to make upma recipe. Take 1 cup rava (fine variety) and set it aside. Next gather the aromatics, lentils, nuts, spices and herbs ready. You will need:

      ⅓ cup finely chopped onions
      1 teaspoon chopped green chillies
      1 teaspoon finely chopped ginger
      2 tablespoons coriander leaves (cilantro)
      8 to 10 curry leaves
      10 to 12 cashews
      1 teaspoon chana dal (hulled and split bengal gram)
      1 teaspoon urad dal (hulled and split black gram)
      ingredients prepped for upma recipe
      2. Heat a pan or kadai first. Add 1 cup rava or cream of wheat (fine variety).
      
      rava added to a frying pan
      3. Begin to roast the rava. Stir often while roasting the rava.
      
      roasting rava for upma recipe
      4. The rava or sooji grains should become fragrant and start to look dry, separate and crisp. Don’t brown the rava.
      
      rava roasted well
      5. Once the rava becomes fragrant and starts to look dry and crisp, switch off the flame and put the roasted rava on a plate and set aside.
      
      roasted rava set aside in a plate to make upma recipe
      Fry and Sauté Spices, Nuts & Aromatics
      6. In a pan, heat 2 tablespoons ghee (clarified butter) or oil. You could use sunflower oil or peanut oil or safflower oil or any neutral tasting oil.
      
      heating ghee in a frying pan
      7. Lower the heat. Add 1 teaspoon mustard seeds. When you hear the crackling sound of mustard seeds, it means they are getting fried.
      
      mustard seeds added 
      8. Now add the following ingredients:
      
      ½ teaspoon cumin seeds
      1 teaspoon chana dal (husked and split bengal gram)
      1 teaspoon urad dal (husked and split black gram)
      cumin seeds and lentils added
      9. Stirring often fry until the chana dal and urad dal begin to brown a bit.
      
      frying lentils to make upma recipe
      10. Immediately add 10 to 12 cashews and begin to fry on a low to medium-low heat.
      
      cashews added
      11. By the time the cashews get golden the dals should also be golden.
      
      cashews fried till golden for making upma recipe
      12. Now add the ⅓ cup of finely chopped onions.
      
      finely chopped onions added
      13. Sauté the onions until they soften and become translucent on a low to medium-low heat.
      
      onions have softened
      14. Then add 1 teaspoon chopped green chillies, 1 teaspoon chopped ginger and 8 to 10 curry leaves.
      
      You can also add 1 dried red chilli (halved and with seeds removed) at this step.
      
      ginger, green chillies and curry leaves added
      15. Mix well and sauté for a few seconds.
      
      mixing and sautéing for a few seconds
      Boil Water
      16. Then add 2.5 cups water to this mixture.
      
      water added
      17. Add salt as required. Mix well and check the taste of water. It should be a bit salty but not too much.
      
      In case if the salt becomes less in the dish, you can always sprinkle some salt from the top when eating.
      
      salt being added
      18. Then add 1 teaspoon sugar.
      
      Sugar is optional and you can skip it. We prefer a slight sweet taste in the upma and hence we add it.
      
      sugar being added
      19. Stir again. On a medium to high flame, heat the water and let it come to a rolling boiling.
      
      water has come to a rolling boil
      Make Rava Upma
      20. When the water comes to a rolling boil, lower the flame to its lowest. Then add the rava in 4 to 5 batches with a spoon.
      
      adding rava with a spoon to make upma recipe
      21. Once you add the first batch of rava, stir and mix immediately so that the roasted rava gets mixed evenly with the water.
      
      mixing rava with a spatula
      22. Then add the next batch of rava. Mix and stir again very well ensuring that the batch of rava is mixed evenly in water.
      
      second batch of rava added
      23. Continue to add and stir the rava up to the last batch.
      
      last batch being of rava being added
      24. Quickly stir and mix very well. The rava grains will absorb water, swell and get cooked.
      
      mixing everything very well
      25. Cover and allow the rava upma to steam for 2 to 3 minutes on a low heat.
      
      pan covered with glass lid for steaming the upma
      26. Then turn off the heat. In the below photo, the rava is cooked well and the suji ka upma is ready.
      
      upma done and cooked well
      27. Lastly add about 2 tablespoons chopped coriander leaves (cilantro). You can add more coriander leaves if you like.
      
      coriander leaves added on rava upma
      28. Mix again.
      
      coriander leaves mixed with upma
      30. Serve upma hot or warm with slices of lemon or a side of lemon pickle or coconut chutney.</pre>

      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-3">
        <div class="col-lg-3 col-md-6 d-flex">
          <i class="bi bi-geo-alt icon"></i>
          <div>
            <h4>Address</h4>
            <p>
              A108 Adam Street <br>
              New York, NY 535022 - US<br>
            </p>
          </div>

        </div>

        <div class="col-lg-3 col-md-6 footer-links d-flex">
          <i class="bi bi-telephone icon"></i>
          <div>
            <h4>Reservations</h4>
            <p>
              <strong>Phone:</strong> +1 5589 55488 55<br>
              <strong>Email:</strong> info@example.com<br>
            </p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 footer-links d-flex">
          <i class="bi bi-clock icon"></i>
          <div>
            <h4>Opening Hours</h4>
            <p>
              <strong>Mon-Sat: 11AM</strong> - 23PM<br>
              Sunday: Closed
            </p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Follow Us</h4>
          <div class="social-links d-flex">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Yummy</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/yummy-bootstrap-restaurant-website-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>

  </footer><!-- End Footer -->
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>
<% if(infoSubmitObj != '') { %>
  <div class="col-8 alert alert-success" role="alert">
    <%= infoSubmitObj %>
  </div>
<% } %>

<% if(infoErrorsObj != '') { %>
  <div class="col-8 alert alert-danger" role="alert">
    <%= infoErrorsObj[0].message %>
  </div>
<% } %>